@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .smoot-duration {
        animation-timing-function: ease-in-out;
    }
}

::-webkit-scrollbar-track {
    border: 0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

html {
    scrollbar-width: none;
    transition: all;
    transition-duration: 1s linear;

}

* {
    padding: 0;
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: 600;
}

.grid {
    display: grid;
}


.swiper-pagination-bullet-active {
    background: #DB4444;

}

.swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
    padding: 5px;
    background-clip: padding-box;

}

.swiper-pagination {
    top: 0px;
    height: min-content;
}